In [ ]:
import pandas as pd

df = pd.read_csv('/content/dump1 (1).csv',header=None)
df

,0,1,2,3,4
0,04:10:02.452266 IP 10.0.3.15.58842 > 192.168.1...,sackOK,timestamp 2458699 0,nop,wscale 6>
1,04:10:02.492855 IP 10.0.3.15.35587 > 157.240.1...,NaN,NaN,NaN,NaN
2,04:10:02.493084 IP 10.0.3.15.35587 > 157.240.1...,NaN,NaN,NaN,NaN
3,04:10:02.495711 IP 10.0.3.15.46827 > 157.240.2...,NaN,NaN,NaN,NaN
4,04:10:02.495891 IP 10.0.3.15.46827 > 157.240.2...,NaN,NaN,NaN,NaN
...,...,...,...,...,...
495,04:10:22.602463 IP 172.217.194.119.https > 10....,NaN,NaN,NaN,NaN
496,04:10:22.645565 IP 10.0.3.15.48650 > 172.217.1...,NaN,NaN,NaN,NaN
497,04:10:22.773367 IP 74.125.24.102.https > 10.0....,NaN,NaN,NaN,NaN
498,04:10:22.773720 IP 10.0.3.15.53398 > 74.125.24...,NaN,NaN,NaN,NaN
499,04:10:22.773785 IP 74.125.24.102.https > 10.0....,NaN,NaN,NaN,NaN

In [ ]:
df1 = df.iloc[:, 0]

In [ ]:
t1 = df1.iloc[17]

In [ ]:
x = t1.split(" ")

In [ ]:
x

['04:10:04.641446',
 'IP',
 '185.151.204.7.https',
 '>',
 '10.0.3.15.53475:',
 'S',
 '1112832001:1112832001(0)',
 'ack',
 '3494538225',
 'win',
 '65535',
 '<mss',
 '1460>']

In [ ]:
len(df1)

500

In [ ]:
win              = []
ack              = []
source_port      = []
destination_port = []
for i in range ( len(df1) ):

  #if ( i == 20 ):
  #  break

  
  

  t1 = df1.iloc[i]
  x = t1.split(" ")
  #print(x[4])
  #for j in range (len(x)):
  #  if ( x[j] == 'win' ):
  #    win.append(x[j+1])
  #    print (i)
  #    print (x[j+1])

  if 'win' in x:
    win.append(  x[1+x.index('win')]  )
  else:
    win.append(0)


  if 'ack' in x:
    ack.append(  x[1+x.index('ack')]  )
  else:
    ack.append(0)

  source_port_i = x[2]
  source_port_i = source_port_i.split(".")
  source_port_i = source_port_i[4]
  #print (source_port_i )
  source_port.append(source_port_i)

  destination_port_i = x[4]
  destination_port_i = destination_port_i.split(".")
  destination_port_i = destination_port_i[4]
  destination_port_i =destination_port_i.split(":")
  #print (destination_port_i[0] )
  destination_port.append(destination_port_i[0])





print (len(win))
print (len(ack))
print (len(source_port))
print (len(destination_port))


destination_port = list(map(lambda x: x.replace('https', '443'), destination_port))
destination_port = list(map(lambda x: x.replace('webcache', '4443'), destination_port))
destination_port = list(map(lambda x: x.replace('domain', '513'), destination_port))


source_port = list(map(lambda x: x.replace('https', '443'), source_port))
source_port = list(map(lambda x: x.replace('webcache', '4443'), source_port))
source_port = list(map(lambda x: x.replace('domain', '513'), source_port))


p= (list(set(destination_port)))
q =list(set(source_port))

print (p)
print (q)

500
500
500
500
['33042', '50492', '47270', '49369', '53560', '43191', '46141', '4443', '57223', '40912', '32846', '17845', '46286', '56043', '58784', '52811', '38530', '13266', '38658', '60246', '50052', '45287', '46827', '60191', '33714', '46245', '39636', '58509', '58312', '56069', '56510', '60781', '33931', '53398', '41901', '50117', '48650', '37215', '513', '43386', '35587', '36355', '55666', '35602', '36841', '57042', '24375', '47845', '43664', '443', '52579', '43275', '53475', '41065', '51903', '58842', '40495', '37226', '34482']
['33042', '50492', '47270', '49369', '34174', '53560', '43191', '46141', '4443', '57223', '40912', '32846', '17845', '46286', '56043', '58784', '52811', '38530', '13266', '60246', '38658', '50052', '45287', '46827', '60191', '33714', '46245', '39636', '58509', '58312', '56069', '56510', '60781', '33931', '53398', '41901', '50117', '48650', '37215', '513', '43386', '35587', '36355', '58099', '55666', '35602', '36841', '57042', '24375', '47845', '43664', '443', '52579', '43275', '53475', '41065', '51903', '58842', '40495', '37226', '34482']

In [ ]:
df_new = pd.DataFrame(data={"A": source_port, "B":destination_port ,"H": win, "K":ack }   )
df_new.to_csv("sanka_predict.csv", sep=',',index=False)